@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Proza+Libre);

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.left {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: right;
}

.left img {
  float: right;
  width: 40%;
  padding: 10px;
  text-align: right;
}

.right {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .left, .right {
    width: 100%;
  }

  .left img {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
  }
}

h1 {
  Font-size: 36px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15;
  font-family: Merriweather;
}

p {
  font-size: 14px;
  font-family: Proza Libre;
}

form {
  font-size: 14px;
  font-family: Proza Libre;
  font-weight: bold;
}

copyright {
  font-size: 11px;
  Font color: rgba(36, 28, 21, 0.65);
}

input {
  width: 100%;
  height: 25px;
}

button {
  background-color: #007c89;
  border: none;
  color: white;
  weight: bold;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Proza Libre;
}

/*highlight {
  color: #007c89;
  font-family: Proza Libre;
  float: right;
}
*/
#show-button {
    margin:4px;
    color: #007c89;
    overflow:auto;
    float:right;
}

#show-button:hover {
    background: #00bcd1;;
}

#show-button label {
    float:right;
    width:4.0em;
}

#show-button label span {
    text-align:center;
    padding:5px 0px;
    display:block;
}

#show-button label input {
    position:absolute;
    top:-30px;
}

#show-button input:checked + span {
    background-color:#911;
    color:#fff;
}
